
  html {
    height: 100%;
  }

  body {
    background-image: linear-gradient(to bottom right, rgb(239, 10, 181), rgb(91, 12, 218));
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: whitesmoke;
  }

  .options {
    display: flex;
    justify-content: center;
  }


  .sizecontrols {
    display: flex;
    flex-direction: column;
    margin: 12px;
  }

  .colorcontrols {
    display: flex;
    flex-direction: column;
    margin: 12px;
  }

  button {
    background-color: black;
    font-size: larger;
    font-weight: bold;
    width: 90px;
    height: 30px;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    border-radius: 32px;
    cursor: pointer;
    box-shadow: 0px 2px 2px 2px black;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
 :root {
    --grid-cols: 1;
    --grid-rows: 1;
  } 

   #container {
    display: inline-grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    margin: auto;
    width: 600px;
    height: 600px;
    line-height: 0;
  } 

  .gridCell {
    border: 1px solid rgb(152, 99, 238);
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}


  header {
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
    font-size: 30px;
    text-shadow: 4px 4px 5px black;
  }

  h2 {
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
    font-size: 25px;
  }


  
